.head {
    background-color: rgb(0, 0, 0);
}

ul.up_line {/*맨 위에 빈칸*/
    padding: 5px 0px 0px 0px;
    font-weight: 500;
}

li.left_wing {/*왼쪽 정렬(수평)*/
    padding: 0px 0px 0px 10px;
    float:left;
    font-weight: 500;
    color: rgb(109, 109, 109);
}

li.right_wing {/*오른쪽 정렬(수평)*/
    padding: 0px 6px 0px 0px;
    float:right;
    font-weight: 530;
    color: rgb(109, 109, 109);
}

.text_size {
    font-size: 13.7px; /* 18px */
}

img.dongyang {
    width: 25px;
    height: 25px;
}

img.pluse {
    width: 20px;
    height: 20;
}

img.profile {
    border-radius: 70%;
    overflow: hidden;
    width: 25px;
    height: 25px;
}

p.title {
    text-align: center;
    font-size: 1.5rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    padding: 70px 0px 90px 0px;
    color: rgb(109, 109, 109);
}

ul.down_line {
    padding: 5px 0px 5px 0px;
    background-color: rgb(55, 55, 55);
    text-align: center;
}

span.bar {
    padding: 0px 0px 0px 0px;
    color: rgba(196, 196, 196, 0.716);
    font-size: 13.5px; /* 18px */
}

.back_color {
    background-color: rgb(55, 55, 55);
    color: rgba(196, 196, 196, 0.716);
}

.black_bar {
    background-color: rgb(29, 29, 29);
    padding: 5px 0px 5px 0px;
}

.dropdown{
    position : relative;
    text-align: center;
}

.dropbtn_icon{
    padding: 0px 10px 0px 10px;
    font-family : 'Material Icons';
}

.dropdown:hover .dropbtn_icon {/*class=.dropdown에 호버(마우스 포인터 도착)하면 class=.dropbtn_icon인 태그의 드롭시 색생 변경*/
    color: #ff0000;
}

.dropbtn{
    border : 1px solid rgb(37, 37, 37);
    border-radius : 4px;
    background-color: #f5f5f5;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 12px;
    width :200px;
    text-align: left;
    cursor : pointer;
    font-size : 12px;
}
.dropdown-content{
    display : inline-block;
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 160px;
}

.dropdown-content a{
    text-align: left;
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 15px;
}

.dropdown-content a:hover{/*class=dropdown-content안의 a태그에 호버 시 색생 변경, 굵게*/
    background-color : #22ff00;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.space {
    padding: 0px 5px 0px 5px;
}

.body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 800px;
}